<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Spring Boot管理后台</title>

</head>

<body >
<div layout:fragment="content" th:remove="tag">
<div id="app">
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h4>Spring Boot</h4>
            </div>
            <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">
                        <div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default" style="margin-bottom:10px;">
                                        <div class="panel-body">
                                            <form role="form" onsubmit="return false;">
                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <label class="col-sm-1 control-label">作者：</label>
                                                    <div class="col-sm-3" style="width: 200px;">
                                                        <input id="qryAuthor"  v-model="qryAuthor" data-original-title="Tooltip for name" class="form-control radius" placeholder="请输入作者" type="text" />
                                                    </div>
                                                    <label class="col-sm-1 control-label">教程名称：</label>
                                                    <div class="col-sm-3" style="width: 200px;">
                                                        <input id="qryTitle" v-model="qryTitle" data-original-title="Tooltip for name" class="form-control radius" placeholder="请输入教程名称" type="text"  />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button class="btn btn-info btn-sm btn-label-left radius" @click="query">
                                                            <i class="fa fa-search"></i>查询
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div style="margin-bottom: 10px;">
                                        <button  class="btn btn-success btn-sm radius" id="addLearnBtn" @click="add">
                                            <i class="fa  fa-plus"></i> 新增
                                        </button>
                                        <button  class="btn btn-primary btn-sm radius" id="modifyLearnBtn" @click="update">
                                            <i class="fa fa-pencil-square-o"></i> 修改
                                        </button>
                                        <button  class="btn btn-danger btn-sm radius" id="deleteLearnBtn "@click="del">
                                            <i class="fa fa-trash-o fa-lg"></i> 删除
                                        </button>
                                    </div>
                                    <table id="jqGrid"></table>
                                    <div id="jqGridPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增窗口-->
<div id="addModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">作者</label>
                        <div class="col-sm-7">
                            <input v-model="learn.author" type="text" class="form-control required" placeholder="输入作者" />
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">教程名称</label>
                        <div class="col-sm-7">
                            <input v-model="learn.title" type="text" class="form-control required" placeholder="输入教程名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">教程地址</label>
                        <div class="col-sm-7">
                            <input v-model="learn.url" type="text" class="form-control required" placeholder="输入教程地址" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="saveLearnBtn" @click="saveOrUpdate" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> &nbsp;保&nbsp;&nbsp;存
                </button>
                <button data-bb-handler="cancel" type="button" class="btn btn-danger radius" @click="cancel">取消</button>
            </div>
        </div>
    </div>
</div>
</div>

</div>

<div layout:fragment="js" th:remove="tag">
    <script th:src="@{/js/learn-resource.js}"></script>
</div>
</body>
</html>