body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.wrapper {
  .make-row();
}
.content-main {
  .make-lg-column(2);
}
.content-secondary {
  .make-lg-column(10);
  .make-lg-column-offset(10);
}
